---
author: Frontend Team
ourTeam: My Team
---
{% extends 'layouts/application.html' %}
{% block bodyClass %}class="page-home has-animation"{% endblock %}

{% block content %}
<main id="main-content" class="main-content pt-40">
    {% include 'modules/mod-1.html' %}
    {% include 'modules/mod-2.html' %}
    {% include 'modules/mod-slick.html' %}
    {% include 'modules/mod-3.html' %}
    {% include 'modules/mod-4.html' %}
    {% include 'modules/mod-5.html' %}
    {% include 'modules/mod-6.html' %}
    {% include 'modules/mod-footer.html' %}
</main>
    
    
    
{% endblock %}
